.movie-page {
  display: flex;
  justify-content: space-evenly;
  width: 88%;
  margin: 10vh auto;
}

.left-content {
  width: 40%;
}

.left-content img {
  width: 100%;
}

.right-content {
  margin-left: 10%;
  width: 60%;
}

.right-content h2 {
  margin: 15px 0 10px;
  font-size: 26px;
}

.right-content h3 {
  margin: 35px 0 14px;
  font-size: 22px;
}

.right-content p {
  font-size: 18px;
  line-height: 1.4;
}

.detail-card {
  border: 1px solid white;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 1.6;
  margin: 0 10px 0 0;
}

.container {
  margin: 40px 0;
}

.tagline {
  margin: 0 0 13px;
}
