.movie-page {
  display: flex;
  border: 2px solid red;
  justify-content: space-evenly;
  width: 80%;
  margin: 10vh auto 0;
  height: 100%;
  max-height: 100%;
}

.left-content img {
  width: 60%;
}

.right-content {
}

.home-btn {
  font-size: 18px;
  padding: 10px 20px;
  display: inline-block;
  margin: 30px;
  background-color: rgb(193, 193, 193);
}
