.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 18px;
}

.search-input {
  background-color: #2c3b49;
  color: #fff;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  width: 220px;
}

button {
  background-color: white;
  color: #2c3b49;
  border-radius: 3px;
  border: none;
  padding: 3px;
  margin-left: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #2c3b49;
  color: #fff;
}

.reset-search-btn {
  padding: 10px;
  border-radius: 10px;
}
